.header-container {
    display: flex;
    top: 0px;
    left: 0px;
    right: 0px;
    height: 50px;
    align-items: center;
    justify-content: space-around;
}

.header-content{
    display: flex;
    white-space: nowrap;
}

.header-buttons {
    border-style: none;
    background-color: white;
    margin-left: 20px;
    margin-right: 20px;
}

.header-buttons:hover {
    opacity: 0.5;
}

.header-buttons:active {
    opacity: 0.1;
}

.apple-logo {
    height: 20px;
}

.search-logo {
    height: 20px;
}

.cart-logo {
    height: 20px;
    margin-left: 20px;
}

.header-below {
    display: flex;
    margin-top: 0px;
    left: 0px;
    right: 0px;
    height: 80px;
    white-space: nowrap;
    justify-content: space-around;
    align-items: center;
    background-color: rgb(250,250,250);
}

.header-below-images {
    height: 70px;
    margin-left: 20px;
    margin-right: 20px;
}





